<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movieg.home" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".discover.presentation.view.DiscoverActivity"
            android:label="@string/app_name">

        </activity>
    </application>
</manifest>
